<div class="container">
  <div class="box position-relative bg-dark">
    <div class="box1 position-absolute top-0 start-0"></div>
    <div class="box2 position-absolute top-0 start-50 translate-middle-x"></div>
    <div class="box1 position-absolute top-0 end-0"></div>
    <div class="box3 position-absolute top-50 start-0 translate-middle">m</div>
    <div class="box1 position-absolute top-50 start-0 translate-middle-x">x</div>
    <div class="box2 position-absolute top-50 start-0 translate-middle-z">y</div>
    <div class="box1 position-absolute top-50 start-50 translate-middle"></div>
    <div class="box1 position-absolute top-50 end-0 translate-middle-y"></div>
    <div class="box1 position-absolute bottom-0 start-0"></div>
    <div class="box1 position-absolute bottom-0 start-50 translate-middle-x"></div>
    <div class="box1 position-absolute bottom-0 end-0"></div>
    <div class="box2 position-absolute bottom-50 end-50"></div>
    <a href="#" class="position-absolute bottom-50 end-50">第一題</a>

    <a href="#" class="position-absolute top-50 start-50">第一題</a>

    <button class="btn btn-success rounded-pill circle position-absolute bottom-0 end-0">第二題</button>
  </div>

  <div class="position-relative">
    <div class="position-absolute top-0 start-0"></div>
    <div class="position-absolute top-0 start-50 translate-middle-x"></div>
    <div class="position-absolute top-0 end-0"></div>
    <div class="position-absolute top-50 start-0 translate-middle-y"></div>
    <div class="position-absolute top-50 start-50 translate-middle"></div>
    <div class="position-absolute top-50 end-0 translate-middle-y"></div>
    <div class="position-absolute bottom-0 start-0"></div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x"></div>
    <div class="position-absolute bottom-0 end-0"></div>
  </div>

</div>
<nav class="navbar n1 position-sticky top-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>

  </div>
</nav>

<div class="p-3 text-center">
  <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas imperdiet mi vestibulum
    rutrum. Aliquam volutpat, ligula ut elementum pretium, dolor odio gravida eros, id rhoncus mi orci in nisi. Vivamus
    orci magna, viverra quis euismod sit amet, tempor nec augue. Maecenas rutrum metus eget varius dignissim. Sed in
    lacus tristique, sodales dolor id, feugiat magna. Integer tristique non magna sed aliquet. Ut elementum semper
    lacus, et pellentesque est sagittis eget. Maecenas aliquam turpis ut gravida tempus. Vestibulum ultrices vitae urna
    in aliquet. Suspendisse vestibulum tristique magna, a sagittis nisi tempus eu. Nunc faucibus justo sit amet
    vestibulum dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Aliquam eget est odio. Donec magna augue, tristique vitae aliquam nec, efficitur sed massa. Suspendisse risus arcu,
    varius id semper eu, eleifend sodales justo.
    <br>
    <img class="img-fluid my-3" src="https://fakeimg.pl/800x300/?text=fake">
    <br>
    Nunc venenatis magna vitae magna accumsan sodales. Vestibulum pretium, erat ut consequat rhoncus, lectus nulla
    ullamcorper lorem, a faucibus purus dolor quis libero. Nulla a porttitor tellus, ut malesuada leo. Praesent sagittis
    nisi at efficitur cursus. In faucibus mattis elit vel faucibus. Integer vel tempus diam, eget posuere massa. In at
    enim eget lorem finibus tristique.
    <br>
    Sed eget iaculis risus. Quisque commodo euismod arcu, quis luctus ex laoreet efficitur. Nunc turpis nulla,
    pellentesque sit amet est in, porttitor porta urna. Vestibulum egestas mollis arcu ac pulvinar. Morbi ac suscipit
    eros, a aliquet nisl. Phasellus eleifend quam ligula. Nulla porta velit sed cursus scelerisque.
    <br>
    Etiam mollis risus vel quam malesuada, quis efficitur lectus pellentesque. Cras efficitur ullamcorper ligula,
    laoreet feugiat dolor blandit sit amet. Cras nunc mi, sagittis non lobortis id, dignissim quis tortor. Pellentesque
    facilisis gravida vehicula. Aenean mi augue, cursus id malesuada ac, consequat vitae magna. Mauris et malesuada
    urna, nec vulputate sem. Aenean a suscipit lacus. Ut augue orci, bibendum ut tortor ac, imperdiet elementum odio.
    Praesent ligula enim, porttitor vitae sapien nec, dapibus placerat ante. Duis lacinia eros vel turpis rhoncus
    sollicitudin sit amet nec velit.
    <br>
    <img class="img-fluid my-3" src="https://fakeimg.pl/700x250/?text=fake">
    <br>
    Integer euismod enim eget nunc posuere sollicitudin. Nullam quis magna vel magna placerat lacinia eu id magna.
    Aenean semper sapien non diam pulvinar rhoncus. Aliquam erat volutpat. Pellentesque quis ligula non turpis luctus
    suscipit eget vel lectus. Maecenas quis tincidunt ipsum. Phasellus vulputate imperdiet ex sit amet cursus.
    Pellentesque consequat ultrices metus, ut feugiat nunc egestas in. Vivamus nunc purus, tincidunt ut tincidunt ac,
    euismod sit amet quam.
  </p>
</div>

<footer class="footer py-3 bg-warning">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
    <!-- <h1>lace sticky footer content her</h1> -->
  </div>
</footer>
