<div class="container">
  <div class="row">
    <div class="col-md-3 bg-light">
      <h2 class="text-center">Fake Blog</h2>
      <div>
        <ul class="list-group list justify-content-center justify-content-lg-center  justify-content-md-center">
          <a hrel="#" class="list-group-item list-group-item-action " aria-current="true">An active item</a>
          <a hrel="#" class="list-group-item list-group-item-action active">A second item</a>
          <a hrel="#" class="list-group-item list-group-item-action">A third item</a>
          <a hrel="#" class="list-group-item list-group-item-action">A fourth item</a>
          <a hrel="#" class="list-group-item list-group-item-action">And a fifth one</a>
        </ul>

      </div>
      <div class="mt-3">
        <!-- sidebar 標籤 -->
        <span class="badge bg-primary">135545554</span>
        <span class="badge bg-secondary">1lor4</span>
        <span class="badge bg-success">1zaaa4</span>
        <span class="badge bg-danger">1dd4</span>
        <span class="badge bg-info">14dgo</span>
      </div>
    </div>
    <div class="col-md-9">
      <div class="px-2">
        <h6>All Article</h6>
        <hr>
        <div>
          <div>
            <h3>
              <!-- 文章標題 -->
              Lorem ipsum
            </h3>
            <div>
              <!-- 文章標籤 -->
              <span class="badge bg-primary">135545554</span>
              <span class="badge bg-secondary">1lor4</span>
              <span class="badge bg-info">14dgo</span>
            </div>
            <p>
              <!-- 文章內容 -->
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, dignissimos aperiam? Qui sunt corrupti
              voluptas architecto tenetur eveniet, ex, quasi corporis dolorum cupiditate consequuntur reprehenderit
              itaque. Eos nesciunt quas architecto.
              Perferendis vero quae doloribus nam id asperiores, vitae ipsa nobis ducimus laudantium numquam quidem
              suscipit quaerat ipsam beatae assumenda esse recusandae nemo mollitia sit. Nobis blanditiis repellat nulla
              vero molestias.
              Ipsum facere obcaecati minima vitae ullam aliquam nihil, repudiandae dolorem unde. Asperiores consequatur
              dolores quas ratione corporis temporibus a eligendi, neque natus officia, voluptatibus ipsum libero
              ducimus
              delectus id minima.
            </p>
            <div>
              <!-- 文章按鈕 -->
              <button type="button" class="btn btn-outline-primary btn-sm">讚</button>
              <button type="button" class="btn btn-outline-success btn-sm">留言</button>
              <button type="button" class="btn btn-outline-danger btn-sm">分享</button>
            </div>
          </div>

          <div>
            <h3>
              <!-- 文章標題 -->
              llllllorem
            </h3>
            <div>
              <!-- 文章標籤 -->
              <span class="badge bg-secondary">1lor4</span>
              <span class="badge bg-success">1zaaa4</span>
              <span class="badge bg-danger">1dd4</span>
            </div>
            <p>
              <!-- 文章內容 -->
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit excepturi esse dignissimos distinctio
              iure sequi facilis porro voluptas nihil ratione. Est officiis, ea deleniti fugit soluta sint incidunt
              facilis corporis.
              Laboriosam voluptatem rem nesciunt sequi quae? Totam adipisci quis cumque, amet cum quaerat corporis ea
              recusandae quos est inventore autem quod fuga, id suscipit, aut odio dolore officia quae expedita.
              Exercitationem mollitia assumenda autem quibusdam officiis dolores sapiente tempore accusantium tenetur
              magni, at voluptatum facilis fugit minima dolorum molestiae sequi error debitis. Sunt voluptatum fugiat
              aliquam at reprehenderit porro minima.
            </p>
            <div>
              <!-- 文章按鈕 -->
              <button type="button" class="btn btn-outline-primary"><i class="fas fa-thumbs-up"></i></button>
            <button type="button" class="btn btn-outline-secondary">Comment</button>
            <button type="button" class="btn btn-outline-info"><i class="far fa-share-square pe-1"></i>Share</button>
            </div>
          </div>
          <div>
            <h3>
              <!-- 文章標題 -->
              Lorem ipsum
            </h3>
            <div>
              <!-- 文章標籤 -->

              <span class="badge bg-success">1zaaa4</span>
              <span class="badge bg-danger">1dd4</span>
              <span class="badge bg-info">14dgo</span>
            </div>
            <p>
              <!-- 文章內容 -->
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, a facilis? Ullam, quam iste. Placeat maxime
              blanditiis, ducimus aut corporis voluptatibus sapiente culpa? Necessitatibus provident aperiam quia id!
              Sed,
              voluptates?
            </p>
            <div>
              <!-- 文章按鈕 -->
              <button type="button" class="btn btn-outline-primary btn-sm">讚</button>
              <button type="button" class="btn btn-outline-success btn-sm">留言</button>
              <button type="button" class="btn btn-outline-danger btn-sm">分享</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<footer class="text-center bg-dark text-light p-3 container">footer content</footer>
