<div class="container">
  <div class="row mt5">
    <ul class="list-group list-group-horizontal-sm justify-content-center justify-content-lg-center  justify-content-md-center">
      <a hrel="#" class="list-group-item list-group-item-action active" aria-current="true">An active item</a>
      <a hrel="#" class="list-group-item list-group-item-action">A second item</a>
      <a hrel="#" class="list-group-item list-group-item-action">A third item</a>
      <a hrel="#" class="list-group-item list-group-item-action">A fourth item</a>
      <a hrel="#" class="list-group-item list-group-item-action">And a fifth one <span
          class="badge bg-primary rounded-pill">14</span></a>
    </ul>
  </div>
  <div class="row mt5">
    <div class="col-12 col-md-3 col-lg-4"><img class="img-fluid" src="https://fakeimg.pl/800/"></div>
    <div class="col-12 col-md-3 col-lg-4"><img class="img-fluid" src="https://fakeimg.pl/800/"></div>
    <div class="col-12 col-md-3 col-lg-4"><img class="img-fluid" src="https://fakeimg.pl/800/"></div>
    <div class="col-12 col-md-3 col-lg-4"><img class="img-fluid" src="https://fakeimg.pl/800/"></div>
    <div class="col-12 col-md-3 col-lg-4"><img class="img-fluid" src="https://fakeimg.pl/800/"></div>
    <div class="col-12 col-md-3 col-lg-4"><img class="img-fluid" src="https://fakeimg.pl/800/"></div>
    <div class="col-12 col-md-3 col-lg-4"><img class="img-fluid" src="https://fakeimg.pl/800/">lorem*</div>
  </div>

</div>
