html,
body {
  height: 100%;
  margin: 0px;
  overflow-y: hidden;
}
.scrollbar {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 48px;
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  background-color: transparent;
}
/* Angular Material2 Themes */
/* // @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/* // @import "~@angular/material/prebuilt-themes/purple-green.css"; */
// P {
//   border: 1px dashed red;
//   margin: 8px;
// }
