.box{
  width: 100%;
  height: 300px;
  border: 1px solid black;
}
.circle{
  width: 6em;
  height: 3em;
}

.box1{
  width: 50px;
  height: 50px;
  background-color: greenyellow;
}

.box2{
  width: 50px;
  height: 50px;
  background-color: pink;
}

.box3{
  width: 50px;
  height: 50px;
  background-color: blueviolet;

}

.n1{
  background-color: aqua;
}

.footer{
  display: block;
}
