@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,900&family=Odibee+Sans&family=Roboto:wght@100&display=swap");

.wrap {
  margin: 0 auto;
  width: 800px;
  font-family: "Odibee Sans", cursive;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
  background-color: beige;
}
.menu {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: burlywood;
  color: darkgray;
}
.menu .item {
  width: 100px;
  text-align: center;
  /* border: 1px solid gray; */
}
.menu a {
  text-decoration: none;
  padding: 10px;
  color: gold;
}
.menu a:hover {
  background-color: gold;
  /* opacity: 0.5; */
  color: burlywood;
}
.content {
  font-family: "Roboto";
  font-weight: 700;
  width: 800px;
  /* height: 300px; */
  background-color: gold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .course {
  width: 700px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.content .course .card {
  width: 200px;
  /* height: 200px; */
  background-color: #eee;
  box-shadow: 2px 2px 2px grey;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.content .course .card h2 {
  font-family: "Nunito";
  font-weight: 900;
}
.content .course .card p {
  text-align: left;
  margin-bottom: 10px;
}

.content .course .card img {
  width: 100px;
}

.content .course_table {
  width: 700px;
  margin: 10px auto;
  padding: 10px;
}
.content .course_table table {
  border-spacing: 0;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  border: 0px solid #fff;
  box-shadow: 2px 2px 2px grey;
}

.content .course_table tr {
  text-align: center;
}
.content .course_table tr:nth-child(odd) {
  background-color: #eee;
}
.content .course_table td {
  border: 1px solid #333;
}

.content .courseQA {
  margin: 20px auto;
  item-align: center;
  width: 80%;
}
.content .courseQA table {
  width: 100%;
  border-collapse: collapse;
}

.content .courseQA table tr {
  border-bottom: solid 2px white;
}

.content .courseQA table tr:last-child {
  border-bottom: none;
}

.content .courseQA table th {
  position: relative;
  width: 30%;
  background-color: #7d7d7d;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.content .courseQA table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
  border-left: 10px solid #7d7d7d;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.content .courseQA table td {
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}



.footer {
  background-color: grey;
  color: gold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 900;
}
