.layout {
  background: black;
  .header {
    background: aqua;
  }
  .main {
    background: grey;
    .aside {
      background: #483D8B;
    }
    .content {
      background: orange;
    }
  }
}
