<!-- <p>home works!</p> -->
<div fxFill fxLayout="column" class="layout">
  <div fxFlex="68px" class="header">
    Header
    <app-header></app-header>
  </div>
  <div fxFlex fxLayout="row" class="main">
    <div fxFlex="200px" class="aside scrollbar"><app-aside></app-aside></div>
    <div fxFlex class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
